body {
  font-family: "HelveticaReg";
  font-size: 1rem;
  line-height: 1.2; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

ul,
ol {
  list-style-type: none; }

input, select, textarea {
  color: #ff6161;
  font-family: "SFNSDisplay"; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

body {
  background-color: #ff6161; }
