body {
  font-family: "HelveticaReg";
  font-size: 1rem;
  line-height: 1.2; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

ul,
ol {
  list-style-type: none; }

input, select, textarea {
  color: #ff6161;
  font-family: "SFNSDisplay"; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

body {
  background-color: #ff6161; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoibWFpbi5jc3MiLCJzb3VyY2VzIjpbIm1haW4uc2NzcyIsIl9mb250cy5zY3NzIiwiX3Jlc3BvbnNpdmUuc2NzcyJdLCJzb3VyY2VzQ29udGVudCI6WyIvL2ZvbnQtZmFtaWx5OiAnU0ZOU0Rpc3BsYXknO1xyXG4vL2ZvbnQtZmFtaWx5OiAnUGF0dWFPbmUtUmVndWxhcic7XHJcbi8vZm9udC1mYW1pbHk6ICdIZWx2ZXRpY2FSZWcnO1xyXG4kZmYtbWFpbi10aXRsZTogJ1NGTlNEaXNwbGF5JztcclxuJGZmLXRpdGxlOiAnUGF0dWFPbmUtUmVndWxhcic7XHJcbiRmZi10ZXh0OiAnSGVsdmV0aWNhUmVnJztcclxuXHJcbiRzZWNvbmQtY29sb3I6ICNmZjYxNjE7XHJcbiR0aGlyZC1jb2xvcjogIzRkNjBjYztcclxuJHRleHQtY29sb3I6ICMyYzJjMmM7XHJcblxyXG5AbWl4aW4gdGFnLWl0ZW0oKXtcclxuXHJcbn1cclxuQG1peGluIHRhZy1pdGVtLWhvdmVye1xyXG5cclxufVxyXG5AbWl4aW4gaW1nLW9uLWJne1xyXG5cclxufVxyXG5cclxuQGltcG9ydCBcImZvbnRzXCI7XHJcblxyXG5ib2R5IHtcclxuICBmb250LWZhbWlseTogJGZmLXRleHQ7XHJcbiAgZm9udC1zaXplOiAxcmVtO1xyXG4gIGxpbmUtaGVpZ2h0OiAxLjI7XHJcbn1cclxuXHJcbmh0bWwge1xyXG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XHJcbn1cclxuXHJcbiosICo6YmVmb3JlLCAqOmFmdGVyIHtcclxuICBib3gtc2l6aW5nOiBpbmhlcml0O1xyXG59XHJcblxyXG51bCxcclxub2wge1xyXG4gIGxpc3Qtc3R5bGUtdHlwZTogbm9uZTtcclxufVxyXG5cclxuaW5wdXQsIHNlbGVjdCwgdGV4dGFyZWF7XHJcbiAgY29sb3I6ICRzZWNvbmQtY29sb3I7XHJcbiAgZm9udC1mYW1pbHk6ICRmZi1tYWluLXRpdGxlO1xyXG59XHJcblxyXG4uY2xlYXJmaXgge1xyXG5cclxuICAmOmFmdGVyIHtcclxuICAgIGNvbnRlbnQ6ICcnO1xyXG4gICAgZGlzcGxheTogdGFibGU7XHJcbiAgICBjbGVhcjogYm90aDtcclxuICB9XHJcbn1cclxuXHJcblxyXG5AaW1wb3J0IFwicmVzcG9uc2l2ZVwiO1xyXG5cclxuYm9keXtcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiAkc2Vjb25kLWNvbG9yO1xyXG59IiwiIiwiXHJcbkBtZWRpYSBzY3JlZW4gYW5kIChtYXgtd2lkdGg6IDE0NDBweCkgYW5kIChtaW4td2lkdGg6IDEyMDFweCl7XHJcblxyXG59XHJcblxyXG5AbWVkaWEgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiAxMjAwcHgpIGFuZCAobWluLXdpZHRoOiA5OTNweCl7XHJcblxyXG59XHJcblxyXG5AbWVkaWEgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiA5OTJweCkgYW5kIChtaW4td2lkdGg6IDc2OXB4KXtcclxuXHJcbn1cclxuXHJcbkBtZWRpYSBzY3JlZW4gYW5kIChtYXgtd2lkdGg6IDc2OHB4KSBhbmQgKG1pbi13aWR0aDogNDgxcHgpe1xyXG5cclxufVxyXG5cclxuQG1lZGlhIHNjcmVlbiBhbmQgKG1heC13aWR0aDogNDgwcHgpIGFuZCAobWluLXdpZHRoOiAzMjBweCl7XHJcblxyXG59Il0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQXVCQSxBQUFBLElBQUksQ0FBQztFQUNILFdBQVcsRUFuQkgsY0FBYztFQW9CdEIsU0FBUyxFQUFFLElBQUk7RUFDZixXQUFXLEVBQUUsR0FBRyxHQUNqQjs7QUFFRCxBQUFBLElBQUksQ0FBQztFQUNILFVBQVUsRUFBRSxVQUFVLEdBQ3ZCOztBQUVELEFBQUEsQ0FBQyxFQUFFLEFBQUEsQ0FBQyxBQUFBLE9BQU8sRUFBRSxBQUFBLENBQUMsQUFBQSxNQUFNLENBQUM7RUFDbkIsVUFBVSxFQUFFLE9BQU8sR0FDcEI7O0FBRUQsQUFBQSxFQUFFO0FBQ0YsQUFBQSxFQUFFLENBQUM7RUFDRCxlQUFlLEVBQUUsSUFBSSxHQUN0Qjs7QUFFRCxBQUFBLEtBQUssRUFBRSxBQUFBLE1BQU0sRUFBRSxBQUFBLFFBQVEsQ0FBQTtFQUNyQixLQUFLLEVBcENRLE9BQU87RUFxQ3BCLFdBQVcsRUF6Q0csYUFBYSxHQTBDNUI7O0FBRUQsQUFFRSxTQUZPLEFBRVAsTUFBTyxDQUFDO0VBQ04sT0FBTyxFQUFFLEVBQUU7RUFDWCxPQUFPLEVBQUUsS0FBSztFQUNkLEtBQUssRUFBRSxJQUFJLEdBQ1o7O0FBTUgsQUFBQSxJQUFJLENBQUE7RUFDRixnQkFBZ0IsRUFyREgsT0FBTyxHQXNEckIiLCJzb3VyY2VSb290IjoiL3NvdXJjZS8ifQ== */
